<div id="about"
     class="d-flex justify-content-center"
     style="background-color: rgb(192, 192, 192);">
    <div class="align-self-center">About</div>
</div>

<div id="footer">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                    molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                    voluptatem veniam, est atque cumque eum delectus sint!
                </p>
            </div>

            <div class="col-lg-3">
                <ul id="footer-links"
                    class="list-unstyled">
                    <li>
                        <a href="#!">Frequently Asked Questions</a>
                    </li>
                    <li>
                        <a href="#!">Delivery</a>
                    </li>
                    <li>
                        <a href="#!">Pricing</a>
                    </li>
                    <li>
                        <a href="#!">Where we deliver?</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6">
                <h5 class="mb-1"
                    style="letter-spacing: 2px; color: rgb(255, 255, 255);">opening hours</h5>
                <table class="table"
                       style="color: #4f4f4f; border-color: rgb(192, 192, 192);">
                    <tbody>
                        <tr>
                            <td>Mon - Fri:</td>
                            <td>8am - 9pm</td>
                        </tr>
                        <tr>
                            <td>Sat - Sun:</td>
                            <td>8am - 1am</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="text-center p-1"
     style="background-color: rgb(192, 192, 192);">
    © 2020 Copyright:

    <label id="info"
           style="margin-left: 5px;">(Rendered at: {{timestamp}})</label>
</div>